{% style %}
  @media (max-width: 1920px) and (min-width: 1500px) {
    .section-{{ section.id }} {
      padding-top: 240px;
      padding-bottom: 290px;
    }
  }
  @media (max-width: 1499px) and (min-width: 750px)  {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding-top }}px;
      padding-bottom: {{ section.settings.padding-bottom }}px;
    }
  }
  @media (max-width: 767px) {
    .section-{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
    }
  }
  @media (max-width: 749px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding-top-mobile }}px;
      padding-bottom: {{ section.settings.padding-bottom-mobile }}px;
    }
  }
{% endstyle %}

<div class="banner section-{{ section.id }}" data-header-height data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner-text">
          <a href="{{ section.settings.btn-link }}" class="text-decoration-none">
          {% if section.settings.hero_title != blank %}
            <div class="banner-text-heading">{{ section.settings.hero_title }}</div>
          {% endif %}
          
          <ul>
            {% for block in section.blocks %}
              <li>{{ block.settings.strength_tag }}</li>
            {% endfor %}
          </ul>
          {% if section.settings.btn-label != blank %}
            <div class="banner_btn">{{ section.settings.btn-label }}</div>
          {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
  
  {% if section.settings.banner-image != blank %}
    <a href="{{ section.settings.btn-link }}" class="text-decoration-none">
      <div class="banner-image-block banner-desktop" style="background-image: url({{ section.settings.banner-image | img_url: 'master' }})"></div>
    </a>
  {% endif %}
  {% if section.settings.banner-image-mobile != blank %}
    <div class="banner-image-block banner-mobile">
      <a href="{{ section.settings.btn-link }}" class="text-decoration-none">
        {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
        {% assign class = 'img-fluid' %}
        {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
        {%- endcapture -%}
        {{
          section.settings.banner-image-mobile
          | image_url: width: 1500
          | image_tag: sizes: sizes, widths: widths, class: class
        }}
      </a>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Hero section",
  "settings": [
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title"
    },
    {
      "type": "text",
      "id": "btn-label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn-link",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "banner-image",
      "label": "Banner Image"
    },
    {
      "type": "image_picker",
      "id": "banner-image-mobile",
      "label": "Banner Image Mobile"
    },
    {
      "type": "range",
      "id": "padding-top",
      "label": "Padding Top",
      "min": 70,
      "max": 200,
      "step": 2,
      "default": 120
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "label": "Padding Bottom",
      "min": 70,
      "max": 200,
      "step": 2,
      "default": 194
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Mobile Background Color",
      "default": "#F6F6F6"
    },
    {
      "type": "range",
      "id": "padding-top-mobile",
      "label": "Padding Top Mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 52
    },
    {
      "type": "range",
      "id": "padding-bottom-mobile",
      "label": "Padding Bottom Mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "strength",
      "type": "strength",
      "settings": [
        {
          "type": "text",
          "id": "strength_tag",
          "label": "Strength Block"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}
